/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;

  p {
    color: black;
  }
  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }
  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }

  blockquote {
    border-left: 3px solid rgba(61, 37, 20, 0.12);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid rgba(61, 37, 20, 0.08);
    margin: 2rem 0;
  }

  pre {
    background: #2e2b29;
    border-radius: 0.5rem;
    color: white;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

code {
  background-color: #f1f1f1;
  border-radius: 0.4rem;
  color: #f14668;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.toolbar {
  /* width: 100%; */
  max-width: 100%;
  display: flex;
  max-height: 56px;
  padding: 10px;
  position: absolute;
  /* left: 10px;
  right: 10px; */
  z-index: 1;
  border-bottom: 1px solid #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: visible;
}

.toolbar::-webkit-scrollbar {
  width: 100%;
  height: 5px;
}
.toolbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.toolbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /*스크롤바 뒷 배경 색상*/
}

.toolbar .button-group {
  overflow-x: visible;
  display: flex;
  justify-content: flex-start;
}

.toolbar .button-group ::-webkit-scrollbar {
  width: 100%;
  height: 5px;
}
.toolbar .button-group ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.toolbar .button-group ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /*스크롤바 뒷 배경 색상*/
}

.toolbar button {
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.toolbar button:hover {
  background-color: #f1f1f1;
}

.toolbar button.active {
  background: #007bff;
  color: #fff;
}

/* placeholder set */
.tiptap p.is-editor-empty:first-child::before {
  color: rgba(0, 0, 0, 0.4);
  font-family: "medium", sans-serif;
  font-size: 14px;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  margin-top: -2px;
  z-index: 3;
}

@media (max-width: 768px) {
  .tiptap p.is-editor-empty:first-child::before {
    font-size: 12px;
    line-height: 160%;
  }
}

.upload-button {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.upload-button:hover {
  background-color: #f1f1f1;
}

/* TextColor DropDown Block */
.dropdown-menu.show {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 7px;
  left: 235px;
  gap: 9px;
  background-color: white;
  z-index: 20;
}

/* TextColor DropDown None */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 7px;
  left: 235px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 20;
}
